#cal .header .button {
  font: 20px/1.7 Helvetical, sans-serif;
	font-weight: 600;
	position: absolute;
	margin-top: 20px;
	margin-left: 16px;
	margin-right: 16px;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfd), to(#e5e7ed));
	cursor: pointer;

}
#cal .header .left.button {
	border: 0.5px solid #a0a0a4;
	box-shadow: 0 0 2px;
}
#cal .header .right.button {
  text-align: right;
  right: 0;
	border: 0.5px solid #a0a0a4;
	box-shadow: 0 0 2px;
}
