#cal {
  margin: 50px auto;
  width: 1020px;
  height: 820px;
  font: 13px/1 Helvetical, san-serif;
  display: table;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
}

#cal .header {
  height: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfd), to(#e5e7ed));
  position: relative;
  color: #717e9c;
  font: 30px/2.3 Helvetical, sans-serif;
  font-weight: 600;
}

#cal .header span {
  display: inline-block;
}

#cal table {
  border-collapse: collapse;
}
#cal td {
  width: 145px;
  height: 120px;
  text-align: center;
  font-weight: 600;
  border: 0.1px solid #e6e6e6;
  cursor: default;
}
