#call #cal-frame td div {
	position: fixed;
	margin-top: -55px;
}
#cal #cal-frame span.event{
	color: gray;
	font-size: 8px;
	font-style: italic;
	text-align: left;
}
#cal #cal-frame span.date{
	font-size: 10px;
	font-weight: bold;
	margin-left: 20px;
	text-align: right;
	text-combine-upright: unset;
}
#cal #cal-frame td:not(.nil):hover {
	color:#fff;
	text-shadow: #6C1A07 0px -1px;
	background:#CD310D;
	background: -moz-linear-gradient(top, #b32b0c, #cd310d);
	background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(#cd310d));
	-moz-box-shadow:0px 0px 0px;
	-webkit-box-shadow:0px 0px 0px;
}
#cal #cal-frame td span:not(.event):not(.date) {
	font-size:80%;
	position:relative;
}
#cal #cal-frame td span:not(.event):not(.date):first-child {
	bottom:5px;
}
#cal #cal-frame td span:not(.event):not(.date):last-child {
	top:5px;
}
#cal #cal-frame table.curr {
	float:left;
}
#cal #cal-frame table.temp {
	position:absolute;
}
