#call #cal-frame td div {
	position: fixed;
	margin-top: -55px;
}
#cal #cal-frame span.event{
	color: gray;
	font-size: 8px;
	/*font-style: italic;*/
	/*text-align: left;*/
  margin-left: 8px;
  margin-top: 10px;
}
#cal #cal-frame span.date{
	font-size: 10px;
	font-weight: bold;
  margin-right: 8px;
  margin-top: 10px;
	text-align: right;
	text-combine-upright: unset;
}
#cal #cal-frame .nil span.date {
  color: #9e9e9e;
}
#cal #cal-frame td span:not(.event):not(.date) {
	font-size:80%;
	position:relative;
}
#cal #cal-frame td span:not(.event):not(.date):first-child {
	bottom:5px;
}
#cal #cal-frame td span:not(.event):not(.date):last-child {
	top:5px;
}
#cal #cal-frame table.curr {
	float:left;
}
#cal #cal-frame table.temp {
	position:absolute;
}
#cal-frame .curr .nil {
	background:#f7f7f7;
}
